//INDEX DE contenido

.col-xs-3
    h3 Control Pasos

center
    .row


    .col-xs-3
        img.img-circle(src='http://thumbs.subefotos.com/7fbeed49830b1335cf2e2da74eb4b250o.jpg')


    .col-xs-3    
       button.btn.btn-lg.btn-success(type='button',id="setearm1") Setear pasos
       input(type="text", name="aa", id="s1",placeholder="TEMP en C°",style='border-color: #99b3ff')


    .col-xs-3
       button.btn.btn-lg.btn-danger(type='button',id="moverm1") Mover


br
br
br
br


.col-xs-3
    h3 Control Servo
center
    .row
    
    .col-xs-3
       button.btn.btn-primary(type='button', id="moverm2") Mover



    .col-xs-3
       button.btn.btn-primary(type='button', id="setear_gradosm2") Setear Grados
       input(type="text", name="aa", id="s2",placeholder="TEMP en C°",style='border-color: #99b3ff')
br
br
br
br


.col-xs-3
    h3 Control De Motor DC
center
    .row

    .col-xs-3    
       button.btn.btn-lg.btn-success(type='button',id="prenderDC") Encender



    .col-xs-3
       button.btn.btn-lg.btn-danger(type='button',id="apagarDC") Apagar



    .col-xs-3
       button.btn.btn-lg.btn-danger(type='button',id="girarDerDC") Girar Derecha



    .col-xs-3
       button.btn.btn-lg.btn-danger(type='button',id="girarIzqDC") Girar Izquierda   



br
br
br
br
